body {
    background-color: #f3f4f5;
    font-family: "Vazirmatn RD FD", sans-serif !important;
}
.main{
    right: 260px;
    top: 60px;
    position: relative;
    width: calc(100% - 260px);
    transform: all 0.5s ease;
}
.navbar-dashboard,

.footer-dashboard {
    width: calc(100% - 260px);
    position: relative;
    top: 60px;
    right: 260px;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}
.sidebar-dashboard.close ~ .navbar-dashboard,
.sidebar-dashboard.close ~ .main,
.sidebar-dashboard.close ~ .footer-dashboard
{
    right: 78px;
    width: calc(100% - 78px);
}

.main {
    background-color: #f3f4f5;
    direction: rtl;
    min-height: 573px;
    padding: 2rem 1rem 0 1rem;
}
.navbar-dashboard {
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 9;
    transition: width 300ms;
    box-shadow: 0 0 10px 0 #0000001a;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar-dashboard .dropdown-item {
    text-align: right;
}
.navbar-dashboard .dropdown-item a {
    width: 100%;
    color: #000;
}
.navbar-dashboard .dropdown button{
    background-color: transparent;
    color: #00000091;
    border: none;
}
.navbar-dashboard .dropdown .dropdown-toggle::after {
    display: none;
}
.navbar-dashboard .navbar-item {
    margin-left: 1rem;
}
.navbar-dashboard .navbar-item svg {
    margin-left: 0.5rem;
}
.sidebar-dashboard {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 260px;
    background: #fff;
    z-index: 10;
    transition: all 1s ease;
    box-shadow: 0 0 10px 0 #0000001a;
    font-weight: 400;
}
.navbar-extra .dropdown-item a {
    width: 100%;
    color: #000;
}
.MuiPaper-root a {
    color: #000;
    font-size: .9rem;
}
.MuiPaper-root a:hover {
    color: #000;
}
#navbar-dropdown-button:hover {
    background-color: #19b674;
    color: #fff;
}
.sidebar-dashboard.close {
    width: 78px;
    opacity: 1;
}
.sidebar-dashboard .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-list-item {
    height: 50px;
    color: #777;
    transition: .1ms;
    cursor: pointer;
   
}
.sidebar-list-item:hover {
    background-color: #367AFF;
    color: #fff !important;
}
.sidebar-list-item:hover .sidebar-list-item-icon {
    
    color: #fff !important;
}
.sidebar-list-item-icon{
color:#07A0E6
}

.sidebar-list-item svg {
    /*height: 50px;*/
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar-dashboard.close .sidebar-list-item-title {
    opacity: 0;
    pointer-events: none;
}
#close_sidebar_mobile {
    display: none;
    text-align: left;
    margin-left: 1rem;
}
.footer-dashboard {
    background: #001d23;
    color: white;
    padding: 2rem 0;
}
@media (max-width: 768px) {
    .sidebar-dashboard.close {
        display: none;
    }
    .sidebar-dashboard {
        width: 100%;
        padding-top: 1rem;
    }
    .close-sidebar {
        position: fixed;
        left: 20px;
        top: 22px;
        font-size: 36px;
        display: inline;
    }
    .sidebar-dashboard.close ~ .navbar-dashboard,
    .sidebar-dashboard.close ~ .main,
    .sidebar-dashboard.close ~ .footer-dashboard
    {
        width: 100%;
        right: 0;
    }
    .navbar-dashboard,
    .main,
    .footer-dashboard {
        width: 100%;
        right: 0px;
    }
    #close_sidebar_mobile {
        display: block;
    }
}
@media (max-width: 520px) {
    .navbar-item-title {
        display: none;
    }
}

.box {
    background-color: #fff;
    width: 100%;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 20px 0 #4c577d05;
    overflow-x: auto;
    white-space: nowrap;
}
.box-title {
    font-size: 1.2rem;
    font-weight: 600;
}
.box-content {
    margin-top: 2rem;
}
.muirtl-1yguay1-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color: #f4951d !important;
}