.activeNavLink{
    color: black !important;
    font-weight: 900;
    border-bottom: 2px solid #367AFF;
    padding-bottom: 4px;
   
}
body{
    background-color: white;
}
.bgHeader{
    background-image: url("../../../public/images/Group\ 594.svg");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: left;
   
    
    
}
.bgTextHeader{
    background-image: url("../../../public/images/service-center-bg\ 1.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding: 60px;
}
.bgProduct{
    background: linear-gradient(180deg, #367AFF 0%, #76A4FF 100%);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    

}
.bgProduct:hover{
    background: linear-gradient(180deg, #FF9C35 0%, #FFC385 100%);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.bgCandle{
    background-image: url("../../../public/images/Group.svg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
    
}
.bgWatchList{
    border-radius: 15px;
    background: var(--gray, #F8F8F8);
    box-shadow: 0px 4px 7px 0px rgba(73, 73, 73, 0.25);
}

.bgReport{
    background: url("../../../public/images/Group\ 11.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bgCounter{
    background: url("../../../public/images/Group\ 3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    
}
.bgColorCounter{
    background-color: rgba(248, 248, 248,0.93);

}
.bgColorProducts{
    background-color: rgba(255, 255, 255, 0.95);
}

.bgContact{
    
    background: linear-gradient(0deg, #A5D8EF 0%, #367AFF 100%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
