.activeNavLink{
    color: black !important;
    font-weight: 900;
    border-bottom: 2px solid #367AFF;
    padding-bottom: 4px;
   
}

.bgHeader{
    background-image: url("../../../public/images/Group\ 594.svg");
    background-repeat: no-repeat;
    
}
